<html>
    <body>
        <h3>Previsão Diabetes</h3>
        <div>
            <form action="/result" method="POST">
                <label for="gest">Número de Gestações</label>
                <input type="text" id="gest" name="gest">
                <br>
                <label for="glic">Concentração de Gricose</label>
                <input type="text" id="glic" name="glic">
                <br>
                <label for="presdia">Pressão Diastólica</label>
                <input type="text" id="presdia" name="presdia">
                <spam>(mm Hg)</spam>
                <br>
                <label for="triceps">Espessura da Dobra Cutânea do Triceps</label>
                <input type="text" id="triceps" name="triceps">
                <spam>(mm)</spam>
                <br>
                <label for="insulina">Nível de Insulina</label>
                <input type="text" id="insulina" name="insulina">
                <spam>(mu U/ml)</spam>
                <br>
                <label for="imc">Índice de Massa Corporal</label>
                <input type="text" id="imc" name="imc">
                <br>
                <label for="genet">Herança Genética</label>
                <input type="text" id="genet" name="genet">
                <br>
				<label for="age">Idade</label>
                <input type="text" id="age" name="age">
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </body>
</html>